@{
    ViewData["Title"] = "Home Page";
}

@model List<UserViewModel>

<div class="text-center">
    <h1>Welcome Data users</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, porro dolore distinctio adipisci voluptas, rem, quas quaerat minima corporis perspiciatis perferendis accusamus nostrum ex atque autem recusandae sapiente eius voluptatum! Recusandae delectus explicabo excepturi reiciendis? Eaque mollitia non quas totam aliquam nisi accusamus similique consectetur odit, unde ipsam aliquid iste ea quo tenetur eligendi numquam exercitationem quam ullam nostrum? Ad labore, aliquam et adipisci vel ea architecto nemo sequi hic incidunt id veritatis placeat corrupti fuga, rem dolores sapiente iste aut iusto aperiam. Mollitia velit repellat, fugiat ratione, cum quisquam pariatur quae possimus esse architecto reprehenderit delectus magnam autem accusantium perferendis, quibusdam maiores quos similique rerum. Maxime repellendus aliquam ratione deleniti voluptates. Officiis provident non optio veritatis quae nam, deleniti cumque, earum, perferendis sunt ab adipisci necessitatibus maxime numquam autem. Reprehenderit iusto corrupti possimus dicta, molestiae aliquid! Quisquam blanditiis consequuntur totam ut minima illum illo qui ratione veniam placeat. Itaque nihil similique quibusdam dolorem quis voluptas, accusamus architecto ipsa blanditiis, provident, quae quia eos assumenda explicabo excepturi aut. Reprehenderit labore aliquam possimus nisi voluptate veniam assumenda at cupiditate, corrupti doloremque accusantium quos porro suscipit natus error alias non pariatur ab. Cumque, odit! Mollitia omnis ab obcaecati ullam esse id maxime?</p>

    <br>
    <br>

    <h1 class="title-tabel">All Of Tables Users Tables</h1>
    
    <button class="success-btn"><a href="#">Add New Users</a></button>
    <div class="container">
        <table class="users-Tables">
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>BIrth Date</th>
                <th>Is Active</th>
                <th>Action</th>
            </tr>
            @foreach(var item in Model){
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.BirthDate</td>
                    <td>@item.IsActive</td>
                    <td>
                        <button class="warning-btn"><a asp-controller="Users" asp-action="Edit" asp-route-id="@item.Id">Edit</a></button>
                        <button class="danger-btn"><a asp-controller="Users" asp-action="Delete" asp-route-id="@item.Id"  onclick="return confirm('Are you sure you want to delete this user?')">Delete</a></button>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>